[submodule "ImplicitSurfaceTriangulation\\ImplicitSystem"]
	path = ImplicitSurfaceTriangulation\\ImplicitSystem
	url = https://github.com/sutajo/ImplicitSystem
[submodule "ImplicitSurfaceTriangulation/autodiff"]
	path = ImplicitSurfaceTriangulation/autodiff
	url = https://github.com/autodiff/autodiff
